.Home .main{
    display: flex;
    flex-direction: column;
}

.Home .main > a{
    background-color: var(--cor-principal);
    color: black;
    padding: 0.5em 1em;
    margin: 0 auto;
    margin-top: 0.5em;
    font-weight: 700;
}

.Home .main > a:hover{
    outline: 1px solid black;
}

